<main id="main" role="main">
    <section id="checkout-container">
        <div class="container">
            {{!-- <div class="py-5 text-center">
                <i class="fa fa-credit-card fa-3x text-primary"></i>
                <h2 class="my-3">Checkout form</h2>
                <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has
                    a validation state that can be triggered by attempting to submit the form without completing it.</p>
            </div> --}}
            <form class="needs-validation" id="myForm" method="post">

            <div class="row py-5">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">PRICE DETAILS</span>
                        {{!-- <span class="badge badge-secondary badge-pill">3</span> --}}
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Total Price</h6>
                                {{!-- <small class="text-muted">Brief description</small> --}}
                            </div>
                            <span class="text-muted">Rs.{{total}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Discount</h6>
                                {{!-- <small class="text-muted"></small> --}}
                            </div>
                            <span class="text-muted">Rs.100</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Delivery</h6>
                                <small class="text-muted">Free Delivery only On UNICLUB</small>
                            </div>
                            <span class="text-muted">Rs.0</span>
                        </li>
                        {{!-- <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>EXAMPLE CODE</small>
                            </div>
                            <span class="text-success">-$5</span>
                        </li> --}}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Amount Payable (INR)</span>
                            <strong id="strong">Rs.{{amountPayable}}</strong>
                            <input type="text" id="totalCost" name="totalCost" value="{{amountPayable}}" hidden>
                        </li>
                    </ul>
                    {{!-- <form class="card p-2"> --}}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">Redeem</button>
                            </div>
                        </div>
                    {{!-- </form> --}}
                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="col-md-12">
                                    {{#each addresses}}
                                        <div class="d-flex mb-3">
                                            <input type="radio" id="{{this._id}}" class="activeAddress mr-3" name="address" data-address="{{this._id}}">
                                            <div class="border p-2" style="color: rgb(80, 80, 80);">
                                                <b>{{this.name}}</b>, <br> 
                                                {{this.address}}, <br>
                                                {{this.city}}, {{this.state}}, <br> 
                                                Zipcode: {{this.zipcode}}, Mobile: {{this.mobile}}
                                            </div>
                                            <div class="ml-auto pr-3 d-flex">
                                              <div>
                                                <a class="btn btn-primary pl-3 pr-3 text-light" style="letter-spacing: 0.1rem;cursor: pointer;" data-toggle="modal" data-target="#edit{{this._id}}">Edit</a>
                                              </div>
                                              <div class="ml-3 mt-1" style="cursor: pointer;">
                                                <a data-toggle="modal" data-target="#deleteAddr{{this._id}}">
                                                  <div class="border border-warning text-center" style="width: fit-content;">
                                                  <span class="ion-ios-close p-3"></span>
                                                </a>
                                              </div>
                                              </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>                   
                            </div>
                        </div>
                        
                        <hr class="mb-4">
                        <div class="custom-control">
                            <a class="text-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="cursor: pointer;">Add a new Address</a>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked disabled id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>
                        {{!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Save this information for next time</label>
                        </div> --}}
                        <hr class="mb-4">
                        <h4 class="mb-3">Payment</h4>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="COD" name="paymentMethod" onclick="validateSubmit()" type="radio" class="custom-control-input" value="COD" required>
                                <label class="custom-control-label" for="COD">Cash on Delivery</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" onclick="validateSubmit()" type="radio" class="custom-control-input" value="onlinePayment" required>
                                <label class="custom-control-label" for="credit">Online Payment</label>
                            </div>
                            {{!-- <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" onclick="validateSubmit()" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" onclick="validateSubmit()" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div> --}}
                        </div>
                        {{!-- <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div> --}}
                        <hr class="mb-4">
                        <button id="checkoutBtn" class="btn btn-primary btn-lg btn-block" disabled type="submit">Continue to checkout</button>
                    </form>
                </div>
            </div>
        </div>
        {{!-- <a href="#" class="btn btn-primary scrollUp">
            <i class="fa fa-arrow-circle-o-up"></i>
        </a> --}}
    </section>
</main>


{{!-- add new Address MODAL --}}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="p-4">
          <form action="/addressPost" method="post">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="name" class="form-control" name="name" id="inputEmail4" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Mobile Number</label>
                <input type="text" maxlength="10" class="form-control" name="mobile" id="inputPassword4" placeholder="Mobile Number">
              </div>
            </div>
            <label for="">Address</label>
            <div class="form-group">
                <textarea name="address" class="form-control" id="address" cols="50" placeholder="Address (Area and Street)" rows="5"></textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" name="city" class="form-control" placeholder="city" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" placeholder="State" name="state">
                <!-- <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select> -->
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip Code</label>
                <input type="text" class="form-control" name="zipcode" placeholder="Zip Code" id="inputZip">
              </div>
            </div>
            <label for="type">Address Type</label>
            <div class="form-row text-dark">
                <input type="radio" class="mr-1" name="type" value="home">Home &nbsp;&nbsp;&nbsp;
                <input type="radio" class="mr-1" name="type" value="work">Work
            </div>
            <!-- <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div> -->
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
            
          </form>
        </div>
    </div>
  </div>
</div>

{{!-- modal deleteAddress --}}
{{#each addresses}}
  <div class="modal fade" id="deleteAddr{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to delete this address ?
        </div>
        <div class="modal-footer">
          <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button></a>
          <a href="/deleteAddress/{{this._id}}"><button type="button" class="btn btn-primary">confirm</button></a>
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{!-- Edit Address --}}
{{#each addresses}}
  <div class="modal fade" id="edit{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="p-4">
            <form action="/editAddressPost/{{this._id}}" method="post">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Name</label>
                  <input type="name" class="form-control" name="name" id="inputEmail4" value="{{this.name}}" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Mobile Number</label>
                  <input type="text" maxlength="10" class="form-control" name="mobile" value="{{this.mobile}}" id="inputPassword4" placeholder="Mobile Number">
                </div>
              </div>
              <label for="">Address</label>
              <div class="form-group">
                  <input name="address" class="form-control" value="{{this.address}}" id="address" cols="50" placeholder="Address (Area and Street)" rows="5">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" name="city" class="form-control" value="{{this.city}}" placeholder="city" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <input type="text" class="form-control" value="{{this.state}}" placeholder="State" name="state">
                  <!-- <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select> -->
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip Code</label>
                  <input type="text" class="form-control" value="{{this.zipcode}}" name="zipcode" placeholder="Zip Code" id="inputZip">
                </div>
              </div>
              <label for="type">Address Type</label>
              <div class="form-row text-dark">
                  <input type="radio" class="mr-1" name="type" value="home">Home &nbsp;&nbsp;&nbsp;
                  <input type="radio" class="mr-1" name="type" value="work">Work
              </div>
              <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div> -->
              <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">SUBMIT</button>
              </div>

            </form>
          </div>
      </div>
    </div>
  </div>
{{/each}}



{{!-- modal for success  --}}

{{!-- data-toggle="modal" data-target="#demoModal" --}}

<div class="modal fade auto-off" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog animated zoomInDown modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="container-fluid">
                {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> --}}
                
                <div class="row py-5">
                    <div class="col-md-12 m-h-20 bg-img rounded-left text-center">
                        <img style="max-width: 40%;" src="https://lirp.cdn-website.com/bbca9e7c/dms3rep/multi/opt/green-tick-icon-0-1000x1000-640w.png" alt="">
                    </div>
                    <div class="col-md-12 text-center pt-4 px-sm-5 ">
                        
                        <h2>Order Placed Successfuly</h2>
                        <p class="text-muted"></p>
                        <a href="/orders"><button class="btn btn-primary w-50">Go to Orders</button></a>

                        {{!-- timer --}}
                        <div class="text-center mt-4 text-dark">
                            <p id="timer">redirected to order in 10 seconds</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- modal for success (online payment)  --}}

{{!-- data-toggle="modal" data-target="#demoModal" --}}

<div class="modal fade auto-off" id="demoModal2" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog animated zoomInDown modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="container-fluid">
                {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> --}}
                
                <div class="row py-5">
                    <div class="col-md-12 m-h-20 bg-img rounded-left text-center">
                        <img style="max-width: 40%;" src="https://lirp.cdn-website.com/bbca9e7c/dms3rep/multi/opt/green-tick-icon-0-1000x1000-640w.png" alt="">
                    </div>
                    <div class="col-md-12 text-center pt-4 px-sm-5 ">
                        
                        <h2>Order Placed Successfuly</h2>
                        <p class="text-muted"></p>
                        <a href="/orders"><button class="btn btn-primary w-50">Go to Orders</button></a>

                        {{!-- timer --}}
                        {{!-- <div class="text-center mt-4 text-dark">
                            <p id="timer">redirected to order in 10 seconds</p>
                        </div> --}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- timer script --}}
<script>
  // Set the timer to expire after 10 seconds
  const expirationTime = 16; // seconds
  let timer = expirationTime;
  const timerElement = document.getElementById("timer");
  const intervalId = setInterval(() => {
    const minutes = Math.floor(timer / 60);
    const seconds = timer % 60;
    timerElement.textContent = `redirected to orders within ${minutes}:${seconds.toString().padStart(2, '0')} seconds`;
    timer--;
    if (timer < 0) {
      clearInterval(intervalId);
    }
  }, 1000);
</script>

{{!-- script for change active address --}}
<script>
    const changeActive = async(addressId)=>{
        const res = await axios({
            method: "GET",
            url: `/changeActiveAddress/${addressId}`
        });
        try{
			if(res.data.status === "success"){
                const radio = document.getElementById(addressId);
                radio.checked = true;

			    Toastify({
			    	text: res.data.message,
			    	duration: 3000,
			    	gravity: "top",
			    	position: "center",
			    	style: {
			    		background: "linear-gradient(to right, #fe6d00, #ffb900)",
			    	},
			    }).showToast();
			}else{
			    	Toastify({
			    		text: res.data.message,
			    		duration: 3000,
			    		gravity: "top",
			    		position: "center",
			    		style: {
			    			background: "linear-gradient(to right, #fe6d00, #ffb900)",
			    		},
			    	}).showToast();
			    }
		    }catch(err){
		    	console.log(err);
		    }
    }

    document.querySelectorAll('.activeAddress').forEach(item => {
	  item.addEventListener('click', function(e) {
	    e.preventDefault();
	    changeActive(this.dataset.address);
	  });
	});
</script>


{{!-- script for checkout --}}
<script>
    function validateRadioAddr() {
        var radioButtons = document.getElementsByName('address');
        var isSelected = false;

        for (var i = 0; i < radioButtons.length; i++) {
          if (radioButtons[i].checked) {
            isSelected = true;
            break;
          }
        }

        if (!isSelected) {
          alert('Please select an option.');
          return false;
        }

        return true;
    }
    function validateRadioCOD() {
        var radioButtons = document.getElementsByName('paymentMethod');
        var isSelected = false;

        for (var i = 0; i < radioButtons.length; i++) {
          if (radioButtons[i].checked) {
            isSelected = true;
            break;
          }
        }

        if (!isSelected) {
          alert('Please select an option.');
          return false;
        }

        return true;
    }

    function validateSubmit(){
        if(validateRadioAddr()&&validateRadioCOD()){
            const isCOD = document.getElementsByName('paymentMethod');
            for (var i = 0; i < isCOD.length; i++) {
              if (isCOD[i].checked) {
                const value = isCOD[i].value;
                if(value==="COD"||value==="onlinePayment"){
                    document.getElementById('checkoutBtn').removeAttribute('disabled');
                }
              }
            }
        }
    }

</script>

{{!-- send Form Axios --}}
<script>
    const myForm = document.getElementById('myForm');   
    const totalCost = document.getElementsByName('totalCost')[0].value;

    myForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const payii = document.getElementsByName('paymentMethod');

      let paymentMethod;
      for(let i=0;i<payii.length;i++){
          if(payii[i].checked){
              paymentMethod=payii[i].value;
              break;
          }
      }
      
      const res = axios({
        method: 'POST',
        url: '/placeOrder',
        data : {
            totalCost : totalCost,
            paymentMethod : paymentMethod
        }
      })
      .then((response) => {
        if(response.data.paymentMethod==="COD"){
            const demoModal = new bootstrap.Modal(document.getElementById('demoModal'));
            demoModal.show();
            setTimeout(()=>{
                location.href = '/orders'
            },9000)
        }else{
            razorpayPayment(response.data);
        }
      })
      .catch((err) => {
        console.log(err);
      });
    });

    function razorpayPayment(order){
        var options = {
            "key": "rzp_test_b5CLuktGWD5Zjb",       // Enter the Key ID generated from the Dashboard
            "amount": order.amount,                 // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "UNICLUB Online Shop", //your business name
            "description": "Test Transaction",
            "image": "https://res.cloudinary.com/dcc8meh8i/image/upload/v1679116198/logo3_gtrtz9.jpg",
            "order_id": order.id,       //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            //"callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response){
                console.log(response);
                verifyPayment(response, order);
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open();
    };

    function verifyPayment(response, order){
        const res = axios({
            method: "POST",
            url: "/verifyPayment",
            data: {
                response: response,
                order: order
            }
        })
        .then((response)=>{
            if(response.data.status){
                const demoModal2 = new bootstrap.Modal(document.getElementById('demoModal2'));
                demoModal2.show();
            }
        }).catch((err)=>{
            console.log(err);
        })
    };

</script>

<script>

</script>