<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
      	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span><a href="/shop">&nbsp;Products </a>&nbsp; Orders</span></p>
        <h1 class="mb-0 bread">Collection Orders</h1>
      </div>
    </div>
  </div>
</div>

<style>
  .disabled {
    pointer-events: none;
    opacity: 1.9; /* optional - to indicate the element is disabled */
  }
  .cancelOrder:hover {
    background-color: white;
    color: red;
  }
</style>

<section class="container bg-white mt-3" style="overflow-x: hidden;">
    
    <div class="text-center pt-5 pb-3">
      <div class="row table-responsive col-lg-12">
        <table class="table table-bordered" style="width:100%" id="productsTable">
          <thead class="text-dark">
            <tr>
              <th style="font-weight: bold;" scope="col">Date</th>
              <th style="font-weight: bold;" scope="col">Address</th>
              <th style="font-weight: bold;" scope="col">Pincode</th>
              <th style="font-weight: bold;" scope="col">Mobile</th>
              <th style="font-weight: bold;" scope="col">Payment</th>
              <th style="font-weight: bold;" scope="col">Status</th>
              <th style="font-weight: bold;" scope="col">View</th>
              <th style="font-weight: bold;" scope="col">Cancel</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders}}
                <tr>
                    <th class="text-dark">{{this.date}}</th>
                    <th class="text-dark">{{this.deliveryDetails.address}}</th>
                    <th class="text-dark">{{this.deliveryDetails.pincode}}</th>
                    <th class="text-dark">{{this.deliveryDetails.mobile}}</th>
                    <th class="text-dark">{{this.paymentMethod}}</th>
                    <th class="text-dark">{{this.status}}</th>
                    <th><a href="/view/products/{{this._id}}" class="btn btn-primary">view Details</a> &nbsp;</th>
                    {{#if this.isCancelled}}
                      <th><a href="" class="btn btn-danger disabled">cancel order</a> &nbsp;</th>
                    {{else if this.isDelivered}}
                      <th><a href="" class="btn btn-warning cancelOrder" style="color: black;" data-toggle="modal" data-target="#return{{this._id}}">return order</a> &nbsp;</th>
                    {{else if this.isReturned}}
                      <th><a href="" class="btn btn-warning disabled" style="font-weight: bold;">order returned</a> &nbsp;</th>
                    {{else}}
                      <th><a href="" class="btn btn-danger cancelOrder" style="color: black;" data-toggle="modal" data-target="#cancel{{this._id}}">cancel order</a> &nbsp;</th>
                    {{/if}}
                </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <input id="totalCount" hidden value="{{totalPages}}" >
    <input id="currentPage" hidden value="{{currentPage}}" >

    {{!-- pagination --}}
	  <div class="row mt-5 my-4 text-center">
	  		<div class="col d-flex justify-content-center pagination text-dark">
	  		</div>
	  </div>
		{{!-- pagination ends --}}
</section>


{{!-- modals for cancel-order confirmation --}}
{{#each orders}}
  <div class="modal fade" id="cancel{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to cancel this order?
        </div>
        <div class="modal-footer">
          <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button></a>
          <a href="/cancelOrder/{{this._id}}"><button type="button" class="btn btn-primary">confirm</button></a>
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{!-- modals for return-order confirmation --}}
{{#each orders}}
  <div class="modal fade" id="return{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to return this order ? <br>
          If the order successfully returned (<small>you can check the order status</small>) <br>
          check your wallet for the returned money.
        </div>
        <div class="modal-footer">
          <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button></a>
          <a href="/returnOrder/{{this._id}}"><button type="button" class="btn btn-primary">confirm</button></a>
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{!-- pagination --}}
<script>
	document.addEventListener("DOMContentLoaded", ()=>{
		const totalCountInput = document.getElementById('totalCount');
		const totalCount = Number(totalCountInput.value);
		const currentPageInput = document.getElementById('currentPage');
		const currentPage = Number(currentPageInput.value);
		const totalPages = Math.ceil(totalCount/10);
		let page =  currentPage || 1;
		const paginationElement = document.querySelector('.pagination');
		let pageLinks = '';

		for (let i = 1; i <= totalPages; i++) {
		    pageLinks += `<ul style="list-style-type: none;"><li class="page-item${i === page ? ' active' : ''}"><a class="page-link" style="color: black;" href="?page=${i}">${i}</a></li></ul>`;
		}
		paginationElement.innerHTML = pageLinks;
	});
</script>