<div class="goto-here">
    {{!-- <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
            <h1 class="mb-0 bread">Product Single</h1>
          </div>
        </div>
      </div>
    </div> --}}
{{!-- <form action="/addToCart/{{product._id}}" id="submit" method="post"> --}}
    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{{product.images.[0]}}" class="image-popup">
                        <img src="{{product.images.[0]}}" id="main_product_image" data-zoom-image='{{product.images.[0]}}' class="img-fluid" alt="image of dress">
                    </a>
                    {{!-- starts here --}}
                    <div class="row">
                    <div class='thumbnail_images pt-5 mx-auto'>
                      <ul id='thumbnail' style="list-style: none;">
                        <li class="d-inline-block">
                          <img
						    class="product-image"
                            onclick='changeImage(this)'
                            src='{{product.images.[0]}}'
                            width='50'
                          />
                        </li>
                        <li class="d-inline-block pl-3">
                          <img
						  class="product-image"
                            onclick='changeImage(this)'
                            src='{{product.images.[1]}}'
                            width='50'
                          />
                        </li>
                        <li class="d-inline-block pl-3">
                          <img 
                            onclick='changeImage(this)'
                            src='{{product.images.[2]}}'
                            width='50'
                          />
                        </li>
                        <li class="d-inline-block pl-3">
                          <img 
						  class="product-image"
                            onclick='changeImage(this)'
                            src='{{product.images.[3]}}'
                            width='50'
                          />
                        </li>
                      </ul>
                    </div>
                    </div>
                    {{!-- ends here --}}
    			</div>
                
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{product.name}}</h3>
    				<div class="rating d-flex">
							<p class="text-left mr-4">
								<a href="#" class="mr-2">5.0</a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
							</p>
							<p class="text-left mr-4">
								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
							</p>
							<p class="text-left">
								<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
							</p>
						</div>
                        <span class="status">{{product.discountPerc}}% Discount</span>
                        <div class="d-flex">
		    				<div class="pricing">
				    			<p class="price"><span class="mr-2 price-dc" style="text-decoration: line-through;color: rgb(79, 79, 79);">Rs.{{product.price}}</span>
								<span class="price-sale">Rs.{{product.discountPrice}}</span></p>
				    		</div>
                        </div>
    				<p>{{product.description}}</p>
    				<p>{{product.lgdescription}}</p>
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                  <select name="" id="" class="form-control">
	                  	<option value="">Small</option>
	                    <option value="">Medium</option>
	                    <option value="">Large</option>
	                    <option value="">Extra Large</option>
	                  </select>
	                </div>
		            </div>
							</div>
							
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-minus btn"  data-type="minus" data-field="">
	                		<i class="ion-ios-remove"></i>
	                	</button>
	            	</span>
					
					<input type="text" id="quantity" disabled name="quantity" class="form-control input-number" value="1" min="1" max="100">
	             	
					<span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-plus btn" data-type="plus" data-field="">
	                     	<i class="ion-ios-add"></i>
	                 	</button>
	             	</span>
	          	</div>
	          	<div class="w-100"></div>
	          	<div class="col-md-12">
	          		<span style="color: #000;" id="stocks">{{product.stocks}}</span><span style="color: #000;"> &nbsp;piece available</span>
	          	</div>
          	</div>
          		{{!-- <p class="pt-4 py-3"><a class="add-to-wishlist btn btn-black py-3 text-white px-5" data-product="{{product._id}}">Add to Wishlist <span class="icon-heart ml-2"></span></a></p> --}}
			<div class="d-flex">
          		<p class="pt-4 py-3"><a class="add-to-cart btn btn-black py-3 text-white px-5" data-product="{{product._id}}">Add to Cart <span class="ion-ios-add ml-2"></span></a></p>
				<p class="pt-4 py-3"><a class="add-to-wishlist btn btn-black py-3 ml-3 text-white px-5" data-product="{{product._id}}">Add to Wishlist <span class="icon-heart ml-2"></span></a></p>
			</div>
    			</div>
    		</div>
    	</div>
    </section>
{{!-- </form> --}}

    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Ralated Products</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
				{{#each relatedProducts}}
    				<div class="col-sm-6 col-md-6 col-lg-4 ftco-animate card-deck">
	    				<div class="product card mt-3">
							{{!-- <span class="add-to-wishlist bottom-area status mt-5 ml-1 icon-heart text-danger" data-product="{{this._id}}" style="font-size: xx-large;position: absolute;z-index: 3;cursor: pointer;"></span> --}}
	    					<a href="/product-single-view/{{this._id}}" class="img-prod"><img class="img-fluid" src="{{this.images.[0]}}" alt="image of the dress">
	    						<span class="status">{{this.discountPerc}}%</span>
	    						{{!-- <span onclick="window.location='https://www.google.com/'" class="bottom-area status mt-5 bg-white icon-heart text-dark" style="font-size: xx-large;position: absolute;z-index: 3;"></span> --}}
	    						<div class="overlay"></div>
	    					</a>
	    					<div class="text py-3 px-3">
	    						<h3><a href="product-single-view/{{this._id}}">{{this.name}}</a></h3>
	    						<div class="d-flex">
	    							<div class="pricing">
			    						<p class="price"><span class="mr-2 price-dc">Rs.{{this.price}}</span>
										<span class="price-sale">Rs.{{this.discountPrice}}</span></p>
			    					</div>
			    					<div class="rating">
		    							<p class="text-right">
		    								<a href="#"><span class="ion-ios-star-outline"></span></a>
		    								<a href="#"><span class="ion-ios-star-outline"></span></a>
		    								<a href="#"><span class="ion-ios-star-outline"></span></a>
		    								<a href="#"><span class="ion-ios-star-outline"></span></a>
		    								<a href="#"><span class="ion-ios-star-outline"></span></a>
		    							</p>
		    						</div>
		    					</div>
		    					<p class="bottom-area d-flex px-3">
	    							<a href="" class="relatedadd-to-cart buy-now add text-center py-2 mr-2" data-product="{{this._id}}"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
	    							<a href="" class="relatedadd-to-wishlist buy-now text-center py-2" data-product="{{this._id}}"><span style="font-size: 15px;">wishlist </span><i class="icon-heart ml-1"></i></a>
	    						</p>
	    					</div>
	    				</div>
	    			</div>
				{{/each}}
    		</div>
    	</div>
    </section>
</div>


{{!-- Jquery libs given on the head --}}
<script>

    function changeImage(element) {
        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;
        $("#main_product_image").data('zoom-image', element.src).elevateZoom({
           responsive: true
        });
    }
    $("#main_product_image").elevateZoom({
        responsive: true
    });

	
</script>

{{!-- addToCart && addToWishlist --}}
<script>

	//plus and minus quantity
	const quantityInput = document.getElementById('quantity');
	let quantityValue = parseInt(quantityInput.value);
	let stocks = document.getElementById('stocks');
	let stocksValue = stocks.innerHTML;

	quantityInput.addEventListener('input', (event) => {
	  quantityValue = event.target.value;
	});

	document.querySelector('.quantity-minus').addEventListener('click', () => {
	  if (quantityValue <= 1) {
	    quantityValue = 1;
	  } else {
	    quantityValue--;
		stocksValue++;
	  }
	  quantityInput.value = quantityValue;
	  stocks.innerHTML = stocksValue;
	});

	document.querySelector('.quantity-plus').addEventListener('click', () => {
		if(stocksValue>=1){
			quantityValue++;
			stocksValue--;
		}
		quantityInput.value = quantityValue;
		stocks.innerHTML = stocksValue;
	});

	const addToCart = async(productId)=>{
		try{
			const res = await axios({
				method : 'POST',
				url : `/addToCart/${productId}`,
				data : {
					quantity: `${quantityValue}`
				}
			})
			if(res.data.status === "success"){
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "top",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			}else{
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "top",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
				location.assign('/login')
			}
		}catch(err){
			console.log(err);
		}
	}
	const addToWishList = async(productId)=>{
		try{
			const res = await axios({
				method: 'GET', url: `/addToWishList/${productId}`
			})
			if(res.data.status === "success"){
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "top",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			}else{
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "top",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
				location.assign('/login')
			}
		}catch(err){
			console.log(err);
		}
	}

	document.querySelector('.add-to-cart').addEventListener('click', (event)=>{
	    event.preventDefault();
	    addToCart(event.target.dataset.product);
	});

	document.querySelector('.add-to-wishlist').addEventListener('click', (e)=>{
		e.preventDefault();
		addToWishList(e.target.dataset.product);
	});

</script>

{{!-- related add-to-cart && add-to-wishlist --}}
<script>
	
	const relatedaddToCart = async(productId)=>{
		try{
			const res = await axios({
				method: 'GET', url: `/addToCart/${productId}`
			})
			if(res.data.status === "success"){
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "bottom",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			}else{
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "top",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
				location.assign('/login')
			}
		}catch(err){
			console.log(err);
		}
	}

	const relatedaddToWishList = async(productId)=>{
		try{
			const res = await axios({
				method: 'GET', url: `/addToWishList/${productId}`
			})
			if(res.data.status === "success"){
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "bottom",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			}else{
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "top",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
				location.assign('/login')
			}
		}catch(err){
			console.log(err);
		}
	}

	document.querySelectorAll('.relatedadd-to-cart').forEach(item => {
	  item.addEventListener('click', function(e) {
	    e.preventDefault();
	    relatedaddToCart(this.dataset.product);
	  });
	});

	document.querySelectorAll('.relatedadd-to-wishlist').forEach(item => {
		item.addEventListener('click', function(e){
			e.preventDefault();
			relatedaddToWishList(this.dataset.product);
		});
	});

</script>